<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="Password=weboa;Data Source=orcl1;User ID=weboa;"/>
  </connectionStrings>
  <appSettings>
    <add key="SleepTime" value="60"/>
    <add key="Debug" value="true"/>
  </appSettings>
</configuration>